/* tags: tag-highway-cycleway + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-cycleway,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-cycleway {
  stroke: transparent;
  stroke-width: 3 !important;
  stroke-dasharray: 10,2;
  stroke-linecap: butt;
}

/* tags: tag-highway-cycleway + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-cycleway,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-cycleway {
  stroke: #fa00ff;
  stroke-width: 1 !important;
  stroke-dasharray: 10,2;
  stroke-linecap: butt;
}

/* tags: tag-highway-path + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-path,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-path {
  stroke: transparent;
  stroke-width: 3 !important;
  stroke-dasharray: 10,2;
  stroke-linecap: butt;
}

/* tags: tag-highway-path + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-path,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-path {
  stroke: #fa00ff;
  stroke-width: 1 !important;
  stroke-dasharray: 10,2;
  stroke-linecap: butt;
}

/* tags: tag-highway-footway + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-footway,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-footway {
  stroke: transparent;
  stroke-width: 3 !important;
  stroke-dasharray: 10,2;
  stroke-linecap: butt;
}

/* tags: tag-highway-footway + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-footway,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-footway {
  stroke: #fa00ff;
  stroke-width: 1 !important;
  stroke-dasharray: 10,2;
  stroke-linecap: butt;
}

/* tags: tag-highway-track + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-track,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-track {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-track + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-track,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-track {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-service + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-service,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-service {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-service + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-service,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-service {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-pedestrian + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-pedestrian,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-pedestrian {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-pedestrian + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-pedestrian,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-pedestrian {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-living_street + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-living_street,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-living_street {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-living_street + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-living_street,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-living_street {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-residential + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-residential,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-residential {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-residential + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-residential,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-residential {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-unclassified + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-unclassified,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-unclassified {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-unclassified + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-unclassified,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-unclassified {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-tertiary_link + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-tertiary_link,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-tertiary_link {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-tertiary_link + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-tertiary_link,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-tertiary_link {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-tertiary + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-tertiary,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-tertiary {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-tertiary + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-tertiary,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-tertiary {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-secondary_link + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-secondary_link,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-secondary_link {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-secondary_link + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-secondary_link,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-secondary_link {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-secondary + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-secondary,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-secondary {
  stroke: #000;
  stroke-width: 10 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-secondary + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-secondary,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-secondary {
  stroke: #FFF;
  stroke-width: 6 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-primary_link + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-primary_link,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-primary_link {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-primary_link + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-primary_link,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-primary_link {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-primary + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-primary,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-primary {
  stroke: #000;
  stroke-width: 10 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-primary + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-primary,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-primary {
  stroke: #FFF;
  stroke-width: 6 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-trunk_link + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-trunk_link,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-trunk_link {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-trunk_link + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-trunk_link,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-trunk_link {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-trunk + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-trunk,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-trunk {
  stroke: #000;
  stroke-width: 10 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-trunk + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-trunk,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-trunk {
  stroke: #FFF;
  stroke-width: 6 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-motorway_link + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-motorway_link,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-motorway_link {
  stroke: transparent;
  stroke-width: 5 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-motorway_link + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-motorway_link,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-motorway_link {
  stroke: #fa00ff;
  stroke-width: 3 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-motorway + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-highway-motorway,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-highway-motorway {
  stroke: #000;
  stroke-width: 10 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-highway-motorway + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-highway-motorway,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-highway-motorway {
  stroke: #FFF;
  stroke-width: 6 !important;
  stroke-dasharray: none;
  stroke-linecap: none;
}

/* tags: tag-survey-ground.tag-surface-paved, tag-survey-ground.tag-surface-chipseal, tag-survey-ground.tag-surface-asphalt, tag-survey-ground.tag-surface-concrete, tag-survey-ground.tag-surface-concrete\:plates, tag-survey-ground.tag-surface-concrete\:lanes + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-paved,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-paved,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-chipseal,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-chipseal,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-asphalt,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-asphalt,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-concrete,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-concrete,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-concrete\:plates,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-concrete\:plates,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-concrete\:lanes,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-concrete\:lanes {
  stroke: #FFF;
  stroke-dasharray: undefined;
  stroke-linecap: undefined;
}

/* tags: tag-survey-ground.tag-surface-paved, tag-survey-ground.tag-surface-chipseal, tag-survey-ground.tag-surface-asphalt, tag-survey-ground.tag-surface-concrete, tag-survey-ground.tag-surface-concrete:plates, tag-survey-ground.tag-surface-concrete:lanes + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-paved,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-paved,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-chipseal,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-chipseal,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-asphalt,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-asphalt,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-concrete,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-concrete,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-concrete:plates,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-concrete:plates,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-concrete:lanes,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-concrete:lanes {
  stroke: #000;
  stroke-dasharray: undefined;
  stroke-linecap: undefined;
}

/* tags: tag-survey-ground.tag-surface-unpaved, tag-survey-ground.tag-surface-compacted, tag-survey-ground.tag-surface-gravel, tag-survey-ground.tag-surface-fine_gravel, tag-survey-ground.tag-surface-paving_stones, tag-survey-ground.tag-surface-sett, tag-survey-ground.tag-surface-unhewn_cobblestone, tag-survey-ground.tag-surface-cobblestone, tag-survey-ground.tag-surface-metal, tag-survey-ground.tag-surface-wood, tag-survey-ground.tag-surface-grass_paver, tag-survey-ground.tag-surface-woodchips, tag-survey-ground.tag-surface-rock, tag-survey-ground.tag-surface-pebblestone, tag-survey-ground.tag-surface-ground, tag-survey-ground.tag-surface-dirt, tag-survey-ground.tag-surface-earth, tag-survey-ground.tag-surface-grass, tag-survey-ground.tag-surface-mud, tag-survey-ground.tag-surface-sand + groups: stroke, stroke-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-unpaved,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-unpaved,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-compacted,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-compacted,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-fine_gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-fine_gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-paving_stones,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-paving_stones,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-sett,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-sett,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-unhewn_cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-unhewn_cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-metal,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-metal,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-wood,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-wood,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-grass_paver,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-grass_paver,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-woodchips,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-woodchips,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-rock,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-rock,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-pebblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-pebblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-ground,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-ground,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-dirt,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-dirt,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-earth,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-earth,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-grass,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-grass,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-mud,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-mud,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke path.tag-highway.tag-survey-ground.tag-surface-sand,
.data-layer.osm .layer-osm.lines .linegroup.line-stroke-highlighted path.tag-highway.tag-survey-ground.tag-surface-sand {
  stroke: #000;
  stroke-dasharray: undefined;
  stroke-linecap: undefined;
}

/* tags: tag-survey-ground.tag-surface-unpaved, tag-survey-ground.tag-surface-compacted, tag-survey-ground.tag-surface-gravel, tag-survey-ground.tag-surface-fine_gravel, tag-survey-ground.tag-surface-paving_stones, tag-survey-ground.tag-surface-sett, tag-survey-ground.tag-surface-unhewn_cobblestone, tag-survey-ground.tag-surface-cobblestone, tag-survey-ground.tag-surface-metal, tag-survey-ground.tag-surface-wood, tag-survey-ground.tag-surface-grass_paver, tag-survey-ground.tag-surface-woodchips, tag-survey-ground.tag-surface-rock, tag-survey-ground.tag-surface-pebblestone, tag-survey-ground.tag-surface-ground, tag-survey-ground.tag-surface-dirt, tag-survey-ground.tag-surface-earth, tag-survey-ground.tag-surface-grass, tag-survey-ground.tag-surface-mud, tag-survey-ground.tag-surface-sand + groups: casing, casing-highlighted */
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-unpaved,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-unpaved,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-compacted,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-compacted,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-fine_gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-fine_gravel,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-paving_stones,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-paving_stones,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-sett,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-sett,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-unhewn_cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-unhewn_cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-cobblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-metal,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-metal,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-wood,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-wood,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-grass_paver,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-grass_paver,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-woodchips,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-woodchips,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-rock,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-rock,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-pebblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-pebblestone,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-ground,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-ground,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-dirt,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-dirt,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-earth,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-earth,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-grass,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-grass,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-mud,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-mud,
.data-layer.osm .layer-osm.lines .linegroup.line-casing path.tag-highway.tag-survey-ground.tag-surface-sand,
.data-layer.osm .layer-osm.lines .linegroup.line-casing-highlighted path.tag-highway.tag-survey-ground.tag-surface-sand {
  stroke: #000;
  stroke-dasharray: undefined;
  stroke-linecap: undefined;
}